<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	
	<conversionRule conversionWord="hostname_ip" converterClass="com.mlwang.common.IpConvert" />
	<property name="LOG_CONTEXT_NAME" value="webParser" />
	<!--定义公有变量 日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="/data/logs/${LOG_CONTEXT_NAME}"/>
	<!-- 定义日志上下文的名称 -->
	<contextName>${LOG_CONTEXT_NAME}</contextName> 
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%date %level %hostname_ip [%thread] %logger{36} [%file :%line] %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>
				${LOG_HOME}/${LOG_CONTEXT_NAME}.%d{yyyy-MM-dd}-%i.log
			</FileNamePattern>
			<!--日志文件保留天数 -->
			<MaxHistory>60</MaxHistory>
			<!--日志文件最大的大小 -->
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		    	<MaxFileSize>10MB</MaxFileSize>
		    </TimeBasedFileNamingAndTriggeringPolicy> 
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%date %level %hostname_ip [%thread] %logger{36} [%file :%line] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 日志输出级别 -->
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>